:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
  }
  
  @media (min-width: 50em) {
    :root {
      font-size: 1.125em;
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /*Links*/
  a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration: none;
  }
  a:visited {
    color: #1430b8;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    color: #b81414;
  }
  
  /* Header section*/
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    text-align: center;
  }

  .page-header {
    padding: 0.4em 1em;
    background-color: #fff;
  }
  
  @media (min-width: 35em) {
    .page-header {
      padding: 1em;
    }
  }
  
  @media (min-width: 50em) {
    .page-header {
      padding: 1em 4em;
    }
  }
  
  
  /*image*/
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media (min-width: 1068px) {
    img {
      max-width: 50%;
    }
  }

  
 
  /*Menu */
  .menu {
    position: relative;
  }
  
  .menu-toggle {
    position: absolute;
    /*top: -1.2em;*/
    top: -1.0em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
  }
  .menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
  }
  
  .menu.is-open .menu-dropdown {
    display: block;
  }
  
  @media (min-width: 35em) {
    .menu-toggle {
      display: none;
    }
  
    .menu-dropdown {
      display: block;
    }
  }
  
  .menu.is-open .menu-dropdown {
    display: block;
  }
  
  /*Nav menu*/
  .nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #000;
    color: #fff;
  }
  
  .nav-menu > li + li {
    border-top: 1px solid #ccc;
  }
  
  .nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;
    color: #fff;
    font-weight: normal;
  }
  
  @media (min-width: 35em) {
    .nav-menu {
      display: flex;
      position: static;
      border: 0;
      padding: 0 1em;
    }
  
    .nav-menu > li {
      flex: 1;
    }
    .nav-menu > li + li {
      border: 0;
    }
  
    .nav-menu > li > a {
      padding: 0.3em;
      text-align: center;
    }
  }
  
  @media (min-width: 50em) {
    .nav-menu {
      padding: 0 4em;
    }
  }
  
  /*Main column*/
  @media (min-width: 35em) {
  .row {
      display: flex;
      margin-left: -.75em;
      margin-right: -.75em;
  }
  
    .column {
      flex: 1;
      margin-right: 0.75em;
      margin-left: 0.75em;
    }
  }
  .column img {
    border-radius: 15px;
  }
  .column li{
    list-style-type: upper-alpha;
    margin:15px 0 15px 0;
  }
  .column>li>button{
    border-radius: 15px;
    padding:5px;
    width: 150px;
    margin-left:10px;
  }
  .column>li>button:hover{
    background-color: #84bff7;
    box-shadow: #84bff7;
  }

  #character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .character-card {
    /* Estilos de las cartas */
    width: 310px;
    padding: 1px;
    background-color: #9b9494;
    border: 1px solid rgb(62, 59, 59);
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s;

  }

  .character-card:hover {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7);
  }
  
  .character-card::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: radial-gradient(rgba(0, 255, 0, 0.4) 30%, transparent 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .character-card:hover::before {
    opacity: 1;
  }
  
  
  .resume{
    padding: 1px;
    text-align: justify;
    margin: 3px;
    background-color: #9b9494;
    margin-top: 8px;
  }

  #popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #popup-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  #popup-species,
  #popup-status {
    margin-bottom: 10px;
  }

  #popup-close {
    margin-top: 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

/* section y search*/

section.resume {
  padding: 20px 20px;
  margin: 0px;
}

#filter-container {
  margin: 0 20px; 
}